@model Actor

<form method="post" asp-route="AddActor">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name"/>
    </div>
    <div>
        <label asp-for="Surname"></label>
        <input asp-for="Surname"/>
    </div>
    <button type="submit"></button>
</form>