@model Movie

<form method="post" asp-route="AddMovie">
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title"/>
    </div>
    <div>
        <label asp-for="Genre"></label>
        <input asp-for="Genre"/>
    </div>
    <div>
        <label asp-for="Published"></label>
        <input asp-for="Published"/>
    </div>
    <div>
        <label asp-for="Price"></label>
        <input asp-for="Price"/>
    </div>
    <div>
        <label asp-for="ThumbnailPath"></label>
        <input asp-for="ThumbnailPath"/>
    </div>
    <button type="submit"></button>
</form>