@model WebApplication.ViewModels.AdminMoviesPageModel
@{
    ViewData["Title"] = "Movies";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <h3>Movies</h3>
            </div>
            <div class="row">
                <div class="col-4">
                    @await Html.PartialAsync("../Movie/_NewMovieItemView")
                </div>
                @foreach (var movie in Model.Movies)
                {
                    <div class="col-4">
                        @await Html.PartialAsync("../Movie/_MovieItemView", movie)
                    </div>
                }
            </div>
        </div>
    </div>
</div>