@model Director

<div class="container-fluid">
    <div>
        <p>@Model.Name @Model.Surname</p>
        <div id="buttons" class="row pl-1">
            <a asp-controller="Admin" asp-action="EditDirectorPage" asp-route-id="@Model.Id">
                <div class="col-6 mb-0">
                    Edit
                </div>
            </a>
            <a asp-controller="Admin" asp-action="RemoveDirector" asp-route-id="@Model.Id">
                <div class="col-6 mb-0">
                    Delete
                </div>
            </a>
        </div>
    </div>
</div>