<div class="container">
    <a asp-controller="Admin" asp-action="AddDirectorPage">
        <div>
            <img
                src="https://fellowesza.co.za/wp-content/uploads/woocommerce-placeholder.png"
                class="img-thumbnail mx-auto d-block"
                alt="New movie placeholder"/>
        </div>
    </a>
</div>